[tool.poetry]
name = "pyramids"
version = "0.2.2"
description = "GIS utility package"
authors = ["Mostafa Farrag <moah.farag@gmail.com>"]
license = "GNU General Public License v3"

[tool.poetry.dependencies]
python = "^3.9"
affine = "^2.3.1"
pyproj = "^3.4.0"
pandas = "^1.4.4"
Rtree = "^1.0.0"
matplotlib = "^3.5.3"
Shapely = "^1.8.4"
rasterio = "^1.3.2"
netCDF4 = "^1.6.1"
geopy = "^2.2.0"
GDAL = "3.4.3"
Fiona = "1.8.21"
geopandas = "^0.11.1"
loguru = "^0.6.0"


[tool.poetry.dev-dependencies]
pytest = "^7.1.3"
pytest-cov = "^3.0.0"
pre-commit = "^2.20.0"
black = "^22.8.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^22.9.11"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.7"
pep8-naming = "^0.13.2"
darglint = "^1.8.1"
reorder-python-imports = "^3.8.2"
pre-commit-hooks = "^4.3.0"


[tool.poetry.scripts]

[tool.coverage.paths]
source = ["pyramids", "*/site-packages"]


[tool.coverage.run]
branch = true
source = ["pyramids"]


[tool.coverage.report]
show_missing = true
fail_under = 40


[tool.isort]
multi_line_output=3
include_trailing_comma=true
force_grid_wrap=0
use_parentheses=true
line_length=88
ensure_newline_before_comments=true
profile="black"


[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
testpaths = [
    "tests",
]


[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
